certifi==2018.4.16
click==6.7
Flask==1.0.2
gunicorn==19.8.1
itsdangerous==0.24
jellyfish==0.6.1
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.3
pandas==0.22.0
python-dateutil==2.7.3
pytz==2018.4
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.7
Werkzeug==0.14.1
WTForms==2.1
xgboost==0.6
