<!-- Navigation Bar -->
<header class="container" id="header">
    <div class="inner">
        <a href="/" class="logo">
            <img src="/static/images/Applied_Materials_Logo.svg" width="200px">
        </a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/predict">Predict Employee Churn</a>
            <a href="/train">Retrain Model</a>
            <a href="/query_db">Query From Database</a>
        </nav>
    </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>